
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/ProfilePhoto.JPG" style="width:200px;">
  <a href="#">About</a><br>
  <br>
  <img width="30" img="{{site.baseurl}}/assets/Linkedin.svg" href='{{ site.linkedin }}'>
  <br>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>
</div>

</body>

