
<head>
<link rel="stylesheet" href="assets/css/sidebar_resume.css">
</head>
<body>
<div class="sidenav">
  <img src="{{site.baseurl}}/assets/ProfilePhoto.JPG" style="width:200px;">
  <br>
  {{ site.fullnameofperson }}
  <br>
  <div class="Indetdiv">
  {{ site.selfIdentification }}
  </div>
  <br>
  <a href="#education">Education</a><br>
  <a href="#employment">Employment</a><br>
  <a href="#skills">Skills</a><br>
  <a href="#publications">Publications</a><br>
  <a href="#projects">Projects</a><br>
</div>

</body>

