body {
    font-family: 'Roboto', sans-serif;
    color: #725752ff;
    background: #96c0b7ff;
    font-size: 14px;
    padding: 300px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
