---
---

body {
  margin-left: 10%; /* Same as the width of the sidebar */
  padding: 5% 10%;
  background-color: {{ site.colour5 }};
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;  /*Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: {{ site.colour1 }}; /* Battleship grey */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 00px;
  font-size: 20px;

}

.Namdiv {
  padding: 6px 8px 6px 16px;
  color: {{ site.colour2 }};
  text-align: center;
  font-size: 25px;
  font-family: Helvetica;
}

.Descdiv {
  padding: 6px 8px 6px 16px;
  color: {{ site.colour2 }};
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 6px;
  /*text-decoration: none;*/
  font-size: 20px;
  color: {{ site.colour3 }};
  /*display: block;*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: {{ site.colour5 }};
}

/* Style page content 
.main {
  margin-left: 20%; /* Same as the width of the sidebar 
  padding: 5% 20%;
  background-color: {{ site.colour4 }};
}*/



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
